@charset "utf-8";
 * {
            --fontSecond: #C9CCD0;
            --prime-color: #1C232C;
            --background: #F5F5F5;
            --side-background: #448391;
            --meun-background:#14181f;
            --hover-color:#448390;
            --scroll-bar: #E3A237;
        }

.bodyDivs{
	display: inline-block;
	height: 300px;
	width: 70%;
	background-color: var(--hover-color);
	margin: 1%;
	border-radius: 25px;

}
.bodyDivs2{
	display: inline-block;
	margin: 1%;
	border-radius: 25px;
	width: 270px;
	height: 300px;
	background-color:  #E3A237;
}

.tables{
	width:100%;
	height: 100%

}
td{
	padding-right: 4%;
	padding-left: 6%;
	font-size: 170%;
	font: bold;
	}
	#Table{
width:100%;
height: 60%;
margin-top:4%;
}
.carClass{
	font-size: 1000%;
	text-align: center;
}
	.tdright{
		float: right;
		margin-right: 6px;
		padding-top: 10px;
	} 
	 @media only screen and (max-width: 1100px) {
.bodyDivs2{
	width: 44%;
}
.bodyDivs{
	width: 90%;
}
	#Table{
width:100%;
height: 60%;
margin-top:1%;
}
.carClass{
	font-size: 1000%;
	text-align: center;
}
}
	 @media only screen and (max-width: 450px) {

.bodyDivs{
	width: 95%;
}
.bodyDivs2{
	width: 95%;
}
	#Table{
width:100%;
height: 60%;
margin-top:4%;
}
.carClass{
	font-size: 150px;
	text-align: center;
}

	 }